/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

.link-primary {
	@apply text-primary-700 dark:text-primary-500 hover:brightness-110 underline;
}
